{% extends 'base.html' %}

{% block title %}
	Browse Profiles - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
		<h1>Browse Profiles {% if initial %} Starting with '{{ initial|title }}'{% endif %}</h1>
		
		{% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
		<a href="{% url 'browse_by_name' initial=letter %}" {% if initial == letter %}class="active"{% endif %}>
			{{ letter|upper }}
		</a>
		{% endfor %}

		{% for thing in things %}
		<ul>
			<li>
				<a href="{% url 'thing_detail' slug=thing.slug %}">
					{{ thing.name }}
				</a>
			</li>
		</ul>
		{% empty %}
		<p>Sorry, no results!</p>
		{% endfor %}
    </div>
</div>
</div>
{% endblock content %}
