{% extends 'base.html' %}

{% block title %}
	Create a Thing - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
		<h1>Create your thing!</h1>
		<p>Enter yout name and profile info below.</p>
		<form role="form" action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Submit</button>
		</form>
    </div>
</div>
</div>
{% endblock content %}
