{% extends 'base.html' %}

{% block title %}
	{{ thing.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
		<h1>Edit "{{ thing.name }}"</h1>
		<form role="form" action="" method="post">
			{% csrf_token %}

			<!-- render form wrapped in p tags-->
			{{ form.as_p }}
			<button type="submit">Submit</button>
		</form>
    </div>
</div>
</div>
{% endblock content %}
