{% extends 'base.html' %}

{% block title %}
	{{ thing.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
		<h1>{{ thing.name }}</h1>
		<p>{{ thing.description }}</p>
		{% if user == thing.user %}
		<a href="{% url 'edit_thing' slug=thing.slug %}">Edit me!</a>
		{% endif %}
    </div>
</div>
</div>
{% endblock content %}
