{% extends "base.html" %}

{% block title %}
	About - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
	    <h1>About Page!</h1>
	    <p>The Bitter Mouthful gives you a way to find the restaurant you would enjoy the least in NYC.</p>
	    <p>Why is this necessary? Because sometimes it's reassuring to have a database of reviews affirm your dislikes. Because it's more fun to write a nasty review than to write a good one. Because through life's ugliness, one can more completely appreciate beauty.</p>
	    <p>Actually, there is no actual reason I can think of unless you are quite masochistic. I just wanted to try my hand at making a web app.</p>
    </div>
</div>
</div>
{% endblock content %}
