
{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>
            {% block title %}The Bitter Mouthful{% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/fixit.css' %}">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        {% block header %}{% endblock header %}

    </head>

    <body>
    <div class="container">
        <header>
        <nav class="container">
            <h1>The Bitter Mouthful</h1>
            
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li>
                        <a href="{% url 'browse' %}">Browse</a>
                    </li>
                    
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'auth_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'auth_login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'registration_register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
        </nav>
        </header>
        
        {% block content %}{% endblock content %}
        {% block footer %}{% endblock footer %}
    </div>
    </body>
</html>