{% extends "base.html" %}

{% block title %}
	Contact - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
    <h1>Contact Page!</h1>
    <p>Put contact info here.</p>
    </div>
</div>
</div>
{% endblock content %}
