{% extends 'base.html' %}

{% block title %}
	Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
    	<h1>Hello World!</h1>
    	<p>This is a basic website!</p>
        {% if user.is_authenticated %}
        <p>You are logged in as {{ user.username }}.</p> 
        <p>If you need to change your password, click <a href="{% url 'password_change' %}">HERE</a>.</p>
        {% endif %}
    </div>
    {% for thing in things %}
    	<h2>
    		<a href="{% url 'thing_detail' slug=thing.slug %}">
    			{{ thing.name }}
			</a>
    	</h2>
    	<p>{{ thing.description }}</p>
    {% endfor %}
</div>
</div>
{% endblock content %}
