{% extends 'base.html' %}

{% block title %}
	Login - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
    <h1>Login</h1>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button><input type="submit" value="Submit"></button>
    </form>
    <p>
    	<a href="{% url 'password_reset' %}">
    		Forgot your password?
    	</a>
    </p>
    </div>
</div>
</div>
{% endblock content %}
