{% extends 'base.html' %}

{% block title %}
	Logout - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
    <h1>Logged Out</h1>
    	<p>You have been logged out.</p>
    </div>
</div>
</div>
{% endblock content %}
