{% extends 'base.html' %}
{% block title %}
	Password Reset Complete - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
	<h1>Password Reset Complete</h1>
	<p>Your password has been reset!</p>
	</div>
</div>
</div>
{% endblock content %}