{% extends 'base.html' %}
{% block title %}
	Confirm Password Reset - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
	{% if validlink %}
	<h1>Confirm Password Reset</h1>
	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
	<form role="form" action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button><input type="submit" value="Change password"></button>
	</form>
	{% else %}
	<h1>Password Reset Unsuccessful</h1>
	<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
	{% endif %}
	</div>
</div>
</div>
{% endblock content %}