{% extends 'base.html' %}
{% block title %}
	Password Reset Form - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
	<h1>Password Reset Form</h1>
	<p>Enter the email associated with your account and we will send a link to reset your password.</p>
	<form role="form" action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button><input type="submit" value="Change password"></button>
	</form>
	</div>
</div>
</div>	
{% endblock content %}