{% extends 'base.html' %}
{% block title %}
	Password Change Done - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
	<h1>Password Change Complete</h1>
	<p>Your password was changed.</p>
	</div>
</div>
</div>
{% endblock content %}