{% extends 'base.html' %}
{% block title %}
	Password Reset Done - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
	<h1>Password Reset Complete</h1>
	<p>Check your email for a link to reset your password!</p>
	</div>
</div>
</div>
{% endblock content %}