{% extends 'base.html' %}
{% block title %}
	Password Change Form - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
	<h1>Password Change Form</h1>
	<p>Hello {{ user.name }}, change your password below:</p>
	<form role="form" action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button><input type="submit" value="Submit"></button>
	</form>
	</div>
</div>
</div>
{% endblock content %}