{% extends 'base.html' %}

{% block title %}
	Registration Form - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
    <h1>Registration Form</h1>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button><input type="submit" value="Submit"></button>
    </form>
    </div>
</div>
</div>
{% endblock content %}
