{% extends 'base.html' %}

{% block title %}
	Registration Complete - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
	<div class="twelve columns">
    <h1>Registration Complete</h1>
    	<p>Your account had been registered.</p>
    </div>
</div>
</div>
{% endblock content %}
